<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TictactoeBackend.Api-20181015085319.mdf;Initial Catalog=aspnet-TictactoeBackend.Api-20181015085319;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>